bat
bat/*
elements/*
elements/*
etc
etc/*
recordings
recordings/*
snapshots
snapshots/*
models
models/*
captions
captions/*
.claude
db/*.pkl
db/*.faiss
__pycache__
__pycache__/*
.bat
*.bat